<div class="content">
     <div class="container-fluid">
         <div class="row">
         <div class="col-md-12">
			<div class="card">
		       	<div class="header">
		           <h4 class="title">CITAS DOOGIE VET</h4>
		           <p class="category">Lista total de citas</p>
		       	</div>
 	           	 
				<section class="content nav">
						<div class="row col-md-12">
                                <div class="col-md-2 col-md-offset-3">
                                    <a href="appointments/{{p}}"><button class="btn btn-default btn-block btn-green"><i class="pe-7s-angle-left"></i></button></a>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-default btn-block btn-green" >{{m | date:'MMMM yyyy'}}</button>
                                </div>
                                <div class="col-md-2">
                                    <a href="appointments/{{n}}"><button class="btn btn-default btn-block btn-green"><i class="pe-7s-angle-right"></i></button></a>
                                </div>
                 		</div>
  
						<div class="row">		
							<table class="calendario col-md-8 col-md-offset-2"> 
								<thead>
							       <th title="Lunes">Lunes</th>
							       <th title="Martes">Martes</th>
							       <th title="Miercoles">Miercoles</th>
							       <th title="Jueves">Jueves</th>
							       <th title="Viernes">Viernes</th>
							       <th title="Sábado">Sábado</th>
							       <th title="Domingo">Domingo</th>
                				</thead>
					        	<tbody>
									<tr ng-repeat="days in dates">
										<td ng-repeat="day in days" class="tdcalendar"> 
						            		<b>{{ day.date }}</b><br> 
						                	<div class="col-centered" ng-click="open(day.date)">{{day.contador}}</div>
						        		</td>
						     		</tr>
					        	</tbody>
							</table>
						</div>
				</section>
				 
	 
		   </div>
		   <div><button class="btn-round btn btn-info "><a href="appointmentdetail/add/"><i class="pe-7s-add-user" aria-hidden="true"></i>  Nueva cita</a></button></div>
		 </div> 
		<div class="col-md-12">
			<button class="btn btn-info  pull-right"><a href="/"><i class="pe-7s-back"></i></a></button>
		</div>   