<div class="content" ng-controller="petController">
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-12">
                 <div class="card">
                     <div class="header">
                         <h4 class="title">Mascota</h4>
                     </div>
                     <div class="content">
                         	<form action="">
								<input type="hidden" name="dni" ng-model="pet._id" /> 
	                             
	                             <div class="row">
	                                 <div class="col-md-3">
	                                     <img src="{{pet.photoUrl}}" alt="foto2" class="foto1 img-thumbnail">
	                                 </div>
	                                 <div class="col-md-9">
		                                 <div class="row">
			                                 <div class="col-md-12">
			                                     <div class="form-group">
			                                         <label>Número de mascota</label>
			                                         <input type="text" class="form-control" disabled placeholder="Id" value="{{pet._id}}">
			                                     </div>
			                                 </div>
			                              </div>
			                              <div class="row"> 
			                                 <div class="col-md-6">
			                                     <div class="form-group">
			                                         <label>Especie</label>
			                                         <input type="text" class="form-control" type="text" name="name" ng-model="pet.specie" placeholder="Especie">
			                                     </div>
			                                 </div>
			                                 <div class="col-md-6">
			                                     <div class="form-group">
			                                         <label>Raza</label>
			                                         <input type="text" class="form-control" type="text" name="name" ng-model="pet.race" placeholder="Raza">
			                                     </div>
			                                 </div>
		                             	</div>
			                              
			                              <div class="row"> 
			                                 <div class="col-md-6">
			                                     <div class="form-group">
			                                         <label>Nombre</label>
			                                         <input type="text" class="form-control" type="text" name="name" ng-model="pet.name" placeholder="nombre">
			                                     </div>
			                                 </div>
			                                 <div class="col-md-6">
			                                     <div class="form-group">
			                                         <label>Número de chip</label>
			                                         <input type="text" class="form-control" type="text" name="name" ng-model="pet.chipNumber" placeholder="número de chip">
			                                     </div>
			                                 </div>
		                             	</div>
		                             	<div class="row">   
			                                 <div class="col-md-6">
			                                     <div class="form-group" class='input-group date' id='datetimepicker5'>
			                                         <label>Fecha de nacimiento</label>
			                                         <input type="text" class="form-control" type="text" name="name" ng-model="pet.birthdate" placeholder="Fecha de nacimiento">
<!-- 			                                         <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span></span> -->
			                                     </div>
			                                 </div>
			                                 <div class="col-md-6">
			                                     <div class="form-group">
			                                         <label>ID dueño de mascota</label>
			                                         <input type="text" class="form-control" type="text" name="name" ng-model="pet.ownerId" placeholder="Dueño mascota">
			                                     </div>
			                                 </div>
		                             	</div>
		                             </div> 
	                             </div>

                             <div class="row">
                                 <div class="col-md-12">
                                     <div class="form-group">
                                         <label>Más información</label>
                                         <textarea rows="5" class="form-control"  name="note" ng-model="pet.description" placeholder="Más información" ></textarea>
                                     </div>
                                 </div>
                             </div>
							<div class="row">
                                 <div class="col-md-12">
										<input type="button" class="btn btn-info btn-fill pull-right" ng-click="submit()" ng-show="!pet._id" value="Save"/>
										<input type="button" class="btn btn-info btn-fill pull-right" ng-click="edit()" ng-show="pet._id" value="Update"/>
										<!-- <input type="button" class="btn btn-info btn-fill pull-right" ng-click="cancel()" value="Cancel"/> -->
                                 </div>
                             </div> 
                             <div class="clearfix"></div>
                         </form>
                     </div>
                 </div>
             </div>
             
			 <div class="col-md-12">
			 	<button class="btn btn-info  pull-right"><a href="/"><i class="pe-7s-back"></i></a></button>
			 </div>             
             
             
             
             
             
             
             
             