<div class="content" ng-controller="appointmentController"> 
     <div class="container-fluid">
       <div class="row" ng-show="appointment.dateHourStart"> <!--   *ng-show="appointment._id"--> 
             <div class="col-md-12">
                 <div class="card">
                     <div class="header">
                         <h4 class="title centrar">Hora de cita: {{appointment.dateHourStart | date :  "H:mm" }}</h4>
                     </div>
                     <div class="content">
								<div class="row">
			                    	<div class="col-md-12">
			                          	
			                          	<div class="col-md-12">
			                          		<div class="form-group">
			                            		<label>Nombre mascota</label>
			                               		<select class="form-control" ng-model="appointment.petID" ng-options="pet._id as pet.name for pet in pets">
									    			<option value="">{{appointment.petID.name}}</option>
												 </select>
											</div>
			                           	</div>
				      
				                        <div class="col-md-12">
				                            <div class="form-group">
				                         		<label>Status</label>
				                         		<select class="form-control" ng-model="appointment.status">
									    			<option value="-1">Cancelado</option>
									    			<option value="0">Pendiente</option>
									    			<option value="1">En curso</option>
									    			<option value="2">Completado</option>
												 </select>
			                         		</div>
				                        </div>
			                      	</div> 	
		                        </div>
		                     </div> 
	                    </div> 
							<div class="row">
                                 <div class="col-md-12">
										<input type="button" class="btn btn-info btn-fill pull-right" ng-click="submit()" ng-show="!appointment._id" value="Save"/>
										<input type="button" class="btn btn-info btn-fill pull-right" ng-click="edit()" ng-show="appointment._id" value="Update"/>
										<input type="button" class="btn btn-info btn-fill pull-right" ng-click="delete()" ng-show="appointment._id" value="Delete"> 
                                 </div>
                             </div> 
                             <div class="clearfix"></div>
                     </div>
                 </div>
             </div>
             
<!-- 			 <div class="col-md-12"> -->
<!-- 			 	<button class="btn btn-info  pull-right" ng-click="doTheBack()"><i class="pe-7s-back"></i></a></button> -->
<!-- 			 </div>         -->
 
	</div> 		     