<div class="col-md-12" ng-controller="ClientsController">
    <div class="card">
        <div class="header">
            <h4 class="title">CLIENTES DOOGIE VET</h4>
            <p class="category">Lista de clientes de nuestra veterinaria</p>
        </div>
        <div class="header">
        	<input class="form-control" type="text" placeholder="Buscar..."  ng-model="test">
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead class="title centrar">
                	<th></th> 
                    <th class="title centrar">Nombre</th> 
                	<th class="title centrar">Telefono</th>
                	<th class="title centrar">Email</th> 
                	<th> </th> 
                </thead>
                <tbody id="myTable">
                	<div>
                     <tr data-ng-repeat="x in clients  | filter:test" class="centrar">
                     	<td><i class="pe-7s-users icon-big"></i></td>
                     	 
                     	<td>{{x.firstName}} {{x.lastName}}</td>
                     	<td>{{x.phone}}</td>
                     	<td>{{x.email}}</td>
                     	<td><a href="/customers/{{x._id}}"><i class="pe-7s-look icon-big"></a></td>
                     </tr>
                   </div>
                   
                </tbody>
            </table>

        </div>
    </div>
    
	<div>
		<a href="customers/add/" class="btn-round btn btn-info"role="button"><i class="pe-7s-add-user"></i>Añadir clientes</a>
	</div>
    
</div>

                    