<div class="content" ng-controller="CustomerController">
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-12">
                 <div class="card">
                     <div class="header">
                         <h4 class="title">Perfil</h4>
                     </div>
                     <div class="content">
                         	<form action="">
								<input type="hidden" name="_id" ng-model="customer._id" />
								<input type="hidden" name="__v" ng-model="customer.__v" />
	                             
	                             <div class="row">
	                                 <div class="col-md-6">
	                                     <div class="form-group">
	                                         <label>ID</label>
	                                         <input type="text" class="form-control" disabled placeholder="Id" value="{{customer._id}}">
	                                     </div>
	                                 </div>
	                                 <formularios data-class="col-md-6" data-type="text" data-label="DNI" data-model="customer.dni" data-name="dni" data-placeholder="dni" />
	                             </div>
	                              

	                             <div class="row">
	                             	<formularios data-class="col-md-6" data-type="text" data-label="Nombre" data-model="customer.firstName" data-name="firstName" data-placeholder="firstName" />
	                                <formularios data-class="col-md-6" data-type="text" data-label="Apellidos" data-model="customer.lastName" data-name="lastName" data-placeholder="lastName" />
	                             </div>

								<div class="row">
									<formularios data-class="col-md-6" data-type="text" data-label="Teléfono" data-model="customer.phone" data-name="phone" data-placeholder="phone" />
									<formularios data-class="col-md-6" data-type="text" data-label="Email" data-model="customer.email" data-name="email" data-placeholder="email" />
	                             </div>

                             <div class="row">
								<text-area-directive data-class="col-md-12" data-rows="5" data-label="Más información" data-model="customer.note" data-name="note" data-placeholder="Notas de texto" />
							</div>
							<div class="row">
								<div class="col-md-12">
									<input type="button" class="btn btn-info btn-fill pull-right" ng-click="submit()" ng-show="!customer._id" value="Save"/>
									<input type="button" class="btn btn-info btn-fill pull-right" ng-click="edit()" ng-show="customer._id" value="Update"/>
<!-- 									<button-customer data-click="submit()" data-show="!customer._id" data-value="Save"/> -->
                                 </div>
                             </div> 
                             <div class="clearfix"></div>
                         </form>
                     </div>
                 </div>
             </div>
             
             
			<div class="col-md-12">
				<div class="card">
			        <div class="header">
			            <h4 class="title">Mascotas de {{customer.firstName}} {{customer.lastName}}</h4>
			            <p class="category">Lista de mascotas</p>
			        </div>
			        <div class="content table-responsive table-full-width">
			            <table class="table table-hover table-striped">
			                <thead>
			                	<th> </th> 
			                    <th  class="title centrar">ID</th>
			                	<th class="title centrar">Nombre</th>
			                	<th class="title centrar">Especie</th>
			                	<th class="title centrar">Nª chip</th> 
			                	<th> </th> 
			                </thead>
			                <tbody> 
								<tr data-ng-repeat="pet in customerPets"  class="centrar">
			                     	<td><img src="{{pet.photoUrl}}" alt="<i class='pe-7s-camera'></i>" class="foto"></td>
			                     	<td>{{pet._id}}</td>
			                     	<td>{{pet.name}}</td>
			                     	<td>{{pet.specie}}</td>
			                     	<td>{{pet.chipNumber}}</td>
			                     	<td><a href="/pets/{{pet._id}}"><i class="pe-7s-look icon-big"></a></td>
			                     </tr>
			                </tbody>
			                
			            </table>
			        </div>
			        <div>
						<a href="/customers/{{customer._id}}/pets/add/" class="btn-round btn btn-info" role="button"><i class="pe-7s-add-user"></i>Añadir mascotas</a>
					</div>
				</div>
			</div> 
			 <div class="col-md-12">
			 	<button class="btn btn-info pull-right" ng-click="doTheBack()"><i class="pe-7s-back"></i></a></button>
			 </div>             
      </div>         
  </div> 
             
             
             
             
             