<div class="content">
     <div class="container-fluid">
         <div class="row">
         <div class="col-md-12">
			<div class="card">
		       	<div class="header">
		           <h4 class="title">CITAS DEL DÍA </h4> 
		       	</div>
		       	<div class="content table-responsive table-full-width">
<!-- 		           	<table class="table table-hover table-striped"> -->
<!-- 						<thead>  -->
<!-- 		               		<th>hora</th> -->
<!-- 		               		<th>cita</th>  -->
<!-- 		               </thead> -->
<!-- 		               <tbody> -->
<!-- 							<tr ng-repeat="hour in listHourApps"> -->
<!-- 								<td>{{h.hour}}</td>  -->
<!-- 								<td><span ng-show="hour.app">Nombre mascota: {{hour.app.petId.name}}, Dueño: {{hour.app.petId.customerId.firstName}}<span></td>  -->
<!-- 								<td> -->
<!-- 									<a ng-show="hour.app" ng-click="abrir(h.app._id)">edit</a> -->
<!-- 									<a ng-show="!hour.app" ng-click="abrir(h.app._id)">añadir</a> -->
<!-- 								</td> -->
<!-- 							</tr> -->
<!-- 		               </tbody> -->
<!-- 		           </table> -->
				 
		       </div>
		   </div>
		   <div><button class="btn-round btn btn-info "><a href="appointmentdetail/add/"><i class="pe-7s-add-user" aria-hidden="true"></i>  Nueva cita</a></button></div>
    <div><button class="btn-round btn btn-info "><a href="/appointments/:201710/:201711"><i class="pe-7s-add-user" aria-hidden="true"></i>Citas mes Octubre</a></button></div>
    
		 </div> 
		<div class="col-md-12">
			<button class="btn btn-info  pull-right"><a href="/"><i class="pe-7s-back"></i></a></button>
		</div>   