<div class="content">
     <div class="container-fluid">
         <div class="row">
         <div class="col-md-12">
			<div class="card">
		       	<div class="header">
		           <h4 class="title">CITAS DEL {{dia}}</h4> 
		       	</div>
		       	<div class="content table-responsive table-full-width">
		           	<table class="table table-hover table-striped">
						<thead> 
		               		<th>hora</th>
		               		<th>Especie</th>
		               		<th>mascota</th>
		               		<th>dueño</th>
		               		<th>Estado</th>  
		               		<th></th> 
		               </thead>
		               <tbody>
							<tr ng-repeat="x in timetable">
								<td>{{x.hour}}</td> 
								<td>{{x.appoints.petID.specie}}</td> 
								<td>{{x.appoints.petID.name}}</td>
								<td>{{x.appoints.petID.ownerId.firstName}}</td> 
								<td>{{x.appoints.status}}</td> 
								<td>
									<a href="/appointmentdetail/{{x.appoints._id}}" ng-show="x.appoints._id" ><button class="btn"><i class="pe-7s-right-arrow" aria-hidden="true"></i> Ver cita</button> </a>
									<a href="/appointmentdetail/add/{{dayD + x.hour}}" ng-show="!x.appoints._id" ><button class="btn"><i class="pe-7s-right-arrow" aria-hidden="true"></i> Añadir cita</button> </a>
								</td>
							</tr>
		               </tbody>
		           </table>
				 
		       </div>
		   </div>
		 </div> 
		<div class="col-md-12">
			<button class="btn btn-info  pull-right" ng-click="doTheBack()">><i class="pe-7s-back"></i></button>
		</div>   